---
---

@import "{{ site.theme }}";

/* ======== Generic ======== */

footer,
#navbar li a {
    /* This matches the existing shadows. */
    text-shadow: #111 0px 0px 10px;
}

.twa {
    /* Hide the text in twa element. This is shown again through JS if needed. */
    text-indent: -9999px;
}

.twa.about_detail {
    width: 1.4em;
    height: 1.4em;
    margin: 0 0.1em 0 0.1em !important;
    vertical-align: 0.1em;
    background-size: 1.4em 1.4em;
}

/* ======== Header ======== */

header table,
header table tr,
header table td {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: none;
}

header table {
    margin: 0 0 5px 0;
}

header table td#cell_logo div#logo_image {
    margin: 0;
    box-shadow: none !important;
    border-width: 0px !important;
    width: 128px;
    height: 128px;
    background: url("/img/karton-256.png") no-repeat center;
    background-size: 128px;
    @media screen and (max-width: 500px) {
        width: 64px;
        height: 64px;
        background-size: 64px;
    }
    @media screen and (max-width: 320px) {
        display: none;
    }
}

header table td#cell_text {
    padding-left: 10px !important;
}

#project_tagline {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 20px;
}

#forkme_banner {
  background-image: url("/img/github.svg");
  background-size: 24px;
  padding-right: 38px;
  background-position-y: 40%;
}

/* ======== Navigation bar ======== */

#navbar {
    /* Quick hack to make the navbar extend.
     * It will work until people start using monitor bigger than 6K... */
    margin: 0 -3010px;
    padding: 0 3000px;

    overflow: hidden;
    background-color: #3C3C3C;
}

#header_wrap {
    /* This is for the above hack. */
    overflow: hidden;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    padding: 15px 15px 10px 15px; /* 10px on the bottom because of the border. */
    border-bottom: 5px solid transparent;
    text-decoration: none;
}

#navbar li a.active {
    border-bottom-color: #0090ff;
}

#navbar li a:hover {
    /* This matches the GitHub button. */
    background-color: #0090ff;
}

#header_wrap header.inner {
    /* Don't leave space after the navbar. */
    padding-bottom: 0;
}

#main_content_wrap {
    /* The content has a border which would be visible between navbar and
     * content, so we need to hide it. */
    border-top-width: 0;
}

/* ======== Footer ======== */

footer .copyright a {
    color: #0090ff;
    text-decoration: none;
}

footer .copyright a:hover {
    color: white;
}

/* ======== Code ======== */

/* Comments */
.highlight .c {
    color: rgb(14, 125, 185);
}

/* Prompts */
.highlight .gp {
    color: darkgrey;
}

/* ======== Content ======== */

#main_content {
    padding-top: 20px; /* The default is 40px which is too much. */
}

pre {
    /* Without this the pre becomes 640px-wide like the rest of the body,
     * so it overflows its container (because of the padding). */
    box-sizing: border-box;
}

details {
    margin-bottom: 10px;
}

details[open] {
    margin-bottom: 25px;
}

details summary {
    font-weight: bold;
    cursor: pointer;
}
